The data can be imported using Python's Pandas library. The successful import of the data can be verified by displaying the first few rows of the dataset.

In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
F_employement= pd.read_csv("Data.csv")

C:\Users\alexi\AppData\Local\Temp\ipykernel_56308\3260701280.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  F_employement= pd.read_csv("Data.csv")

In [103]:
# Verifying the import
print(F_employement.head())

          id  client_id  job_id       fid           title  date_of_posting  \
0  514406735     500004  198902  15552098  CLOUD ENGINEER       1464978601
1  518735632     500004  198902  16166171  CLOUD ENGINEER       1464978601
2  520263322     500004  198902  15184292  CLOUD ENGINEER       1464978601
3  514494796     500004  198902  16118626  CLOUD ENGINEER       1464978601
4  527199523     500004  198902  16429157  CLOUD ENGINEER       1464978601

   job_role  api_job_gender  year_of_passing_from  year_of_passing_to  ...  \
0        13               3                2010.0              2015.0  ...
1        13               3                2010.0              2015.0  ...
2        13               3                2010.0              2015.0  ...
3        13               3                2010.0              2015.0  ...
4        13               3                2010.0              2015.0  ...

   SolvencyRatio  OperatingRevenue  OperatingProfitPerShare  EarningsPerShare  \
0        -13.416        48238000.0                    2.299             1.459
1        -13.416        48238000.0                    2.299             1.459
2        -13.416        48238000.0                    2.299             1.459
3        -13.416        48238000.0                    2.299             1.459
4        -13.416        48238000.0                    2.299             1.459

   NetIncome  P_LBeforeTax ShareholdersFunds TotalAssets  MarketCap  \
0  2496000.0     3761000.0        -3889000.0  28987000.0  24790.588
1  2496000.0     3761000.0        -3889000.0  28987000.0  24790.588
2  2496000.0     3761000.0        -3889000.0  28987000.0  24790.588
3  2496000.0     3761000.0        -3889000.0  28987000.0  24790.588
4  2496000.0     3761000.0        -3889000.0  28987000.0  24790.588

   PriceEarningsRatio_Avg
0                   8.496
1                   8.496
2                   8.496
3                   8.496
4                   8.496

[5 rows x 56 columns]

In [104]:
F_employement.head(100)

,id,client_id,job_id,fid,title,date_of_posting,job_role,api_job_gender,year_of_passing_from,year_of_passing_to,...,SolvencyRatio,OperatingRevenue,OperatingProfitPerShare,EarningsPerShare,NetIncome,P_LBeforeTax,ShareholdersFunds,TotalAssets,MarketCap,PriceEarningsRatio_Avg
0,514406735,500004,198902,15552098,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
1,518735632,500004,198902,16166171,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
2,520263322,500004,198902,15184292,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
3,514494796,500004,198902,16118626,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
4,527199523,500004,198902,16429157,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,514496214,500004,198902,14663562,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
96,514477908,500004,198902,16215109,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
97,514401228,500004,198902,2464998,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
98,512358469,500004,198902,14943355,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496
99,514474604,500004,198902,13705451,CLOUD ENGINEER,1464978601,13,3,2010.0,2015.0,...,-13.416,48238000.0,2.299,1.459,2496000.0,3761000.0,-3889000.0,28987000.0,24790.588,8.496

In [105]:
# Chart for applications by furthest education acheived
# matplotlib import pyplot as plt
#import seaborn as sns
#_df_4.groupby('course_type').size().plot(kind='barh', color=sns.palettes.mpl_palette('Dark2'))
#plt.gca().spines[['top', 'right',]].set_visible(False)

In [106]:
type(F_employement)

pandas.core.frame.DataFrame

In [107]:
F_employement.index

RangeIndex(start=0, stop=6315274, step=1)

In [108]:
#number of rows
F_employement.shape[0]

6315274

In [109]:
#number of columns
F_employement.shape[1]

56

In [110]:
#number of people with diabetes
outcome_counts = F_employement['CalLetterFlag'].value_counts()
outcome_counts

CalLetterFlag
0    6120190
1     195084
Name: count, dtype: int64

In [111]:
#F_employement.describe()

In [112]:
F_employement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6315274 entries, 0 to 6315273
Data columns (total 56 columns):
 #   Column                       Dtype
---  ------                       -----
 0   id                           int64
 1   client_id                    int64
 2   job_id                       int64
 3   fid                          int64
 4   title                        object
 5   date_of_posting              int64
 6   job_role                     int64
 7   api_job_gender               int64
 8   year_of_passing_from         float64
 9   year_of_passing_to           float64
 10  hq_marks_percentage_from     float64
 11  hq_marks_percentage_to       float64
 12  hq_marks_cgpa_from           float64
 13  hq_marks_cgpa_to             float64
 14  api_applications_created     int64
 15  call_letter_date             float64
 16  applier_type                 object
 17  course_type                  object
 18  users_city_id                int64
 19  users_state_id               int64
 20  profile_percentage           int64
 21  no_of_employees              float64
 22  bd_lnkdin_co_profile_emp2    object
 23  FemaleFlag                   int64
 24  CalLetterFlag                int64
 25  Chennai                      int64
 26  Kolkata                      int64
 27  Hyderabad                    int64
 28  NCR                          int64
 29  Ahmedabad                    int64
 30  Bangalore                    int64
 31  MumbaiPune                   int64
 32  India_HQ                     int64
 33  napplications_t_male_jbrl    int64
 34  napplications_t_female_jbrl  int64
 35  napplicants_t_male_jbrl      int64
 36  napplicants_t_female_jbrl    int64
 37  client_id_napplications_t    int64
 38  client_id_njob_ids_t         int64
 39  njob_ids_t_jbrl              int64
 40  yearBirth                    int64
 41  CashFlow                     float64
 42  ProfitMargin_Percent         float64
 43  ROE_Percent                  float64
 44  ROCE_Percent                 float64
 45  CurrentRatio                 float64
 46  SolvencyRatio                float64
 47  OperatingRevenue             float64
 48  OperatingProfitPerShare      float64
 49  EarningsPerShare             float64
 50  NetIncome                    float64
 51  P_LBeforeTax                 float64
 52  ShareholdersFunds            float64
 53  TotalAssets                  float64
 54  MarketCap                    float64
 55  PriceEarningsRatio_Avg       float64
dtypes: float64(23), int64(29), object(4)
memory usage: 2.6+ GB

In [113]:
# Check for missing valuesd
F_employement.isnull().sum()

id                                   0
client_id                            0
job_id                               0
fid                                  0
title                                0
date_of_posting                      0
job_role                             0
api_job_gender                       0
year_of_passing_from           1915731
year_of_passing_to             1904895
hq_marks_percentage_from       3517019
hq_marks_percentage_to           87011
hq_marks_cgpa_from             4300083
hq_marks_cgpa_to                 87011
api_applications_created             0
call_letter_date               6134564
applier_type                         0
course_type                       2166
users_city_id                        0
users_state_id                       0
profile_percentage                   0
no_of_employees                4626102
bd_lnkdin_co_profile_emp2      3168641
FemaleFlag                           0
CalLetterFlag                        0
Chennai                              0
Kolkata                              0
Hyderabad                            0
NCR                                  0
Ahmedabad                            0
Bangalore                            0
MumbaiPune                           0
India_HQ                             0
napplications_t_male_jbrl            0
napplications_t_female_jbrl          0
napplicants_t_male_jbrl              0
napplicants_t_female_jbrl            0
client_id_napplications_t            0
client_id_njob_ids_t                 0
njob_ids_t_jbrl                      0
yearBirth                            0
CashFlow                       5173497
ProfitMargin_Percent           5038242
ROE_Percent                    5127327
ROCE_Percent                   5636744
CurrentRatio                   4919612
SolvencyRatio                  4874515
OperatingRevenue               4978547
OperatingProfitPerShare        6061866
EarningsPerShare               6049985
NetIncome                      4974582
P_LBeforeTax                   4979569
ShareholdersFunds              4824751
TotalAssets                    4825268
MarketCap                      6049985
PriceEarningsRatio_Avg         6106130
dtype: int64

Data Cleaning

In [114]:
# Remove data points with odd years of birth
F_employement = F_employement[(F_employement['yearBirth'] >= 1950) & (F_employement['yearBirth'] <= 2007)]

**splitting data**

In [115]:
# Ensure the DataFrame includes all rows by checking the total number of rows before and after the split
total_rows_before_split = F_employement.shape[0]

split_value = 1489039200
# Perform the split again to include the clarification
after_df = F_employement[F_employement['api_applications_created'] >= split_value]
before_df = F_employement[F_employement['api_applications_created'] < split_value]

# Verify that all rows are included in the split
total_rows_after_split = after_df.shape[0] + before_df.shape[0]

num_after = after_df.shape[0]
num_before = before_df.shape[0]

print(total_rows_before_split, total_rows_after_split)
print(after_df.shape[0], before_df.shape[0])

6310251 6310251
3848446 2461805

In [116]:
female_after_df = after_df[after_df['FemaleFlag'] == 1]
male_after_df = after_df[after_df['FemaleFlag'] == 0]

female_before_df = before_df[before_df['FemaleFlag'] == 1]
male_before_df = before_df[before_df['FemaleFlag'] == 0]

print('Percent Female Applications: ')
print('\tBefore: ', 100*female_before_df.shape[0]/num_before)
print('\tAfter: ', 100*female_after_df.shape[0]/num_after)

# TODO:: statistical test to see if this is statistically significant!!

Percent Female Applications:
	Before:  36.99878747504372
	After:  39.44742891026664

In [117]:
import statsmodels.api as sm
import numpy as np

# Given values
num_applications_before = num_before
num_applications_after = num_after

# Calculate the number of females in each group
num_female_before = female_before_df.shape[0]
num_female_after = female_after_df.shape[0]

# Calculate the number of males in each group
num_male_before = num_applications_before - num_female_before
num_male_after = num_applications_after - num_female_after

# Create a 2x2 contingency table
contingency_table = np.array([[num_female_before, num_male_before],
                               [num_female_after, num_male_after]])

# Perform the z-test
z_stat, p_value = sm.stats.proportions_ztest(contingency_table[:, 0], contingency_table.sum(axis=0))

# Output the results
print(f"Z-statistic: {z_stat}")
print(f"P-value: {p_value}")

# Check if the p-value is less than the significance level (e.g., 0.05)
if p_value < 0.05:
    print("Reject the null hypothesis - There is a significant difference in the proportion of female applications.")
else:
    print("Fail to reject the null hypothesis - There is no significant difference in the proportion of female applications.")

Z-statistic: -40.55119451900522
P-value: 0.0
Reject the null hypothesis - There is a significant difference in the proportion of female applications.

In [118]:
import numpy as np
from scipy.stats import chi2_contingency

# Given values
num_applications_before = num_before
num_applications_after = num_after

# Create a 2x2 contingency table
contingency_table = np.array([[num_female_before, num_male_before],
                               [num_female_after, num_male_after]])

# Perform the chi-square test for independence
chi2_stat, p_value, _, _ = chi2_contingency(contingency_table)

# Output the results
print(f"Chi-square statistic: {chi2_stat}")
print(f"P-value: {p_value}")

# Check if the p-value is less than the significance level (e.g., 0.05)
if p_value < 0.05:
    print("Reject the null hypothesis - There is a significant difference in the proportion of female applications.")
else:
    print("Fail to reject the null hypothesis - There is no significant difference in the proportion of female applications.")

Chi-square statistic: 3802.1416273315785
P-value: 0.0
Reject the null hypothesis - There is a significant difference in the proportion of female applications.

In [119]:
#dataframes just applications that got interview
after_interviewed = after_df[after_df['CalLetterFlag'] == 1]
before_interviewed = before_df[before_df['CalLetterFlag'] == 1]

female_after_interviewed_df = after_interviewed[after_interviewed['FemaleFlag'] == 1]
female_before_interviewed_df = before_interviewed[before_interviewed['FemaleFlag'] == 1]


print('Percent Interviewed Applications that are Female: ')
print('\tBefore: ', 100*female_before_interviewed_df.shape[0]/before_interviewed.shape[0])
print('\tAfter: ', 100*female_after_interviewed_df.shape[0]/after_interviewed.shape[0])

# TODO:: statistical test to see if this is statistically significant!!

Percent Interviewed Applications that are Female:
	Before:  37.15212794400019
	After:  37.50432568168307

In [120]:
import statsmodels.api as sm
import numpy as np

# Given values
num_interviewed_applications_before = before_interviewed.shape[0]
num_interviewed_applications_after = after_interviewed.shape[0]

# Calculate the number of females in each group
num_female_before = female_before_interviewed_df.shape[0]
num_female_after = female_after_interviewed_df.shape[0]

# Calculate the number of males in each group
num_male_before = num_interviewed_applications_before - num_female_before
num_male_after = num_interviewed_applications_after - num_female_after

# Create a 2x2 contingency table
contingency_table = np.array([[num_female_before, num_male_before],
                               [num_female_after, num_male_after]])

# Perform the z-test
z_stat, p_value = sm.stats.proportions_ztest(contingency_table[:, 0], contingency_table.sum(axis=0))

# Output the results
print(f"Z-statistic: {z_stat}")
print(f"P-value: {p_value}")

# Check if the p-value is less than the significance level (e.g., 0.05)
if p_value < 0.05:
    print("Reject the null hypothesis - There is a significant difference in the proportion of female applications that are interviewed.")
else:
    print("Fail to reject the null hypothesis - There is no significant difference in the proportion of female applications that are interviewed.")

Z-statistic: 32.53423183752683
P-value: 3.499409491084206e-232
Reject the null hypothesis - There is a significant difference in the proportion of female applications that are interviewed.

In [121]:
# Replace -1 with 3 (-1 to both)
before_df['api_job_gender'].replace(-1, 3, inplace=True)
after_df['api_job_gender'].replace(-1, 3, inplace=True)

gender_labels = {1: 'Male', 2: 'Female', 3: 'Both', -1: 'Both'}  # Replace -1 with 'Both'

value_percentages_before = before_df['api_job_gender'].value_counts(normalize=True) * 100
value_percentages_after = after_df['api_job_gender'].value_counts(normalize=True) * 100

# Display the percentages
print('Job Posting Preferred Gender')
print('Before:', value_percentages_before.rename(index=gender_labels))
print('After:', value_percentages_after.rename(index=gender_labels))

Job Posting Preferred Gender
Before: api_job_gender
Both      97.230000
Male       2.356076
Female     0.413924
Name: proportion, dtype: float64
After: api_job_gender
Both      96.728056
Male       2.882150
Female     0.389794
Name: proportion, dtype: float64

C:\Users\alexi\AppData\Local\Temp\ipykernel_56308\1469886116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  before_df['api_job_gender'].replace(-1, 3, inplace=True)
C:\Users\alexi\AppData\Local\Temp\ipykernel_56308\1469886116.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_df['api_job_gender'].replace(-1, 3, inplace=True)

In [122]:
print(after_df[after_df["FemaleFlag"] == 1].shape[0])

1518113

In [123]:
# By Headquarters Location

# Replace -1 with 3 (-1 to both genders are preferred)
before_df['api_job_gender'].replace(-1, 3, inplace=True)
after_df['api_job_gender'].replace(-1, 3, inplace=True)

# Find  rows with 1 in the India_HQ column (hq location in India)
hq_india_before = before_df[before_df['India_HQ'] == 1]
hq_india_after = after_df[after_df['India_HQ'] == 1]

gender_labels = {1: 'Male', 2: 'Female', 3: 'Both', -1: 'Both'}  # Replace -1 with 'Both'

value_percentages_before = hq_india_before['api_job_gender'].value_counts(normalize=True) * 100
value_percentages_after = hq_india_after['api_job_gender'].value_counts(normalize=True) * 100

# Display the percentages
print('Job Posting Preferred Gender for Companies Headquartered in India')
print('Before:', value_percentages_before.rename(index=gender_labels))
print('After:', value_percentages_after.rename(index=gender_labels))

# Find  rows with 0 in the India_HQ column (hq location not in India)
hq_notindia_before = before_df[before_df['India_HQ'] == 0]
hq_notindia_after = after_df[after_df['India_HQ'] == 0]

gender_labels = {1: 'Male', 2: 'Female', 3: 'Both', -1: 'Both'}  # Replace -1 with 'Both'

value_percentages_before = hq_notindia_before['api_job_gender'].value_counts(normalize=True) * 100
value_percentages_after = hq_notindia_after['api_job_gender'].value_counts(normalize=True) * 100

# Display the percentages
print('Job Posting Preferred Gender for Companies not Headquartered in India')
print('Before:', value_percentages_before.rename(index=gender_labels))
print('After:', value_percentages_after.rename(index=gender_labels))

C:\Users\alexi\AppData\Local\Temp\ipykernel_56308\2485357630.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  before_df['api_job_gender'].replace(-1, 3, inplace=True)
C:\Users\alexi\AppData\Local\Temp\ipykernel_56308\2485357630.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_df['api_job_gender'].replace(-1, 3, inplace=True)

Job Posting Preferred Gender for Companies Headquartered in India
Before: api_job_gender
Both      96.343681
Male       3.364383
Female     0.291936
Name: proportion, dtype: float64
After: api_job_gender
Both      96.752860
Male       2.989393
Female     0.257747
Name: proportion, dtype: float64
Job Posting Preferred Gender for Companies not Headquartered in India
Before: api_job_gender
Both      98.278045
Male       1.301020
Female     0.420935
Name: proportion, dtype: float64
After: api_job_gender
Both      98.526623
Male       1.325893
Female     0.147485
Name: proportion, dtype: float64

In [124]:
# Educational attainment of all applications
F_employement['course_type'].value_counts()

course_type
graduation         5239224
pg                 1007560
others_category      61731
Name: count, dtype: int64

In [125]:
# Educational attainment of applications before and after the law was passed
before_grad = female_before_df[female_before_df['course_type'] == 'graduation']
before_pg = female_before_df[female_before_df['course_type'] == 'pg']
before_other = female_before_df[female_before_df['course_type'] == 'others_category']

after_grad = female_after_df[female_after_df['course_type'] == 'graduation']
after_pg = female_after_df[female_after_df['course_type'] == 'pg']
after_other = female_after_df[female_after_df['course_type'] == 'others_category']

print('Before The Law, __ of female applications furthest education was grad:', before_grad.shape[0]/female_before_df.shape[0])
print('After:', after_grad.shape[0]/female_after_df.shape[0])
print('Before The Law, __ of female applications furthest education was postgrad:', before_pg.shape[0]/female_before_df.shape[0])
print('After:', after_pg.shape[0]/female_after_df.shape[0])
print('Before The Law, __ of female applications furthest education was other:', before_other.shape[0]/female_before_df.shape[0])
print('After:', after_other.shape[0]/female_after_df.shape[0])

Before The Law, __ of female applications furthest education was grad: 0.7885452736930167
After: 0.8309625172829691
Before The Law, __ of female applications furthest education was postgrad: 0.2081325109404746
After: 0.1651655706788625
Before The Law, __ of female applications furthest education was other: 0.002930268609785714
After: 0.003783644564008081

In [126]:
print('Before the law, there were {} female applications with grad as furthest education'.format(before_grad.shape[0]))
before_grad_interview = before_grad[before_grad['CalLetterFlag'] == 1]
print('Before the law, there were {} female applications with grad as furthest education that were interviewed'.format(before_grad_interview.shape[0]))

print('After the law, there were {} female applications with grad as furthest education'.format(after_grad.shape[0]))
after_grad_interview = after_grad[after_grad['CalLetterFlag'] == 1]
print('After the law, there were {} female applications with grad as furthest education that were interviewed\n'.format(after_grad_interview.shape[0]))

print('Before the law, there were {} female applications with postgrad as furthest education'.format(before_pg.shape[0]))
before_pg_interview = before_pg[before_pg['CalLetterFlag'] == 1]
print('Before the law, there were {} female applications with postgrad as furthest education that were interviewed'.format(before_pg_interview.shape[0]))

print('After the law, there were {} female applications with postgrad as furthest education'.format(after_pg.shape[0]))
after_pg_interview = after_pg[after_pg['CalLetterFlag'] == 1]
print('After the law, there were {} female applications with postgrad as furthest education that were interviewed\n'.format(after_pg_interview.shape[0]))

print('Before the law, there were {} female applications with "other" as furthest education'.format(before_other.shape[0]))
before_other_interview = before_other[before_other['CalLetterFlag'] == 1]
print('Before the law, there were {} female applications with "other" as furthest education that were interviewed'.format(before_other_interview.shape[0]))

print('After the law, there were {} female applications with "other" as furthest education'.format(after_other.shape[0]))
after_other_interview = after_other[after_other['CalLetterFlag'] == 1]
print('After the law, there were {} female applications with "other" as furthest education that were interviewed\n'.format(after_other_interview.shape[0]))

Before the law, there were 718237 female applications with grad as furthest education
Before the law, there were 25901 female applications with grad as furthest education that were interviewed
After the law, there were 1261495 female applications with grad as furthest education
After the law, there were 37372 female applications with grad as furthest education that were interviewed

Before the law, there were 189575 female applications with postgrad as furthest education
Before the law, there were 4639 female applications with postgrad as furthest education that were interviewed
After the law, there were 250740 female applications with postgrad as furthest education
After the law, there were 4841 female applications with postgrad as furthest education that were interviewed

Before the law, there were 2669 female applications with "other" as furthest education
Before the law, there were 31 female applications with "other" as furthest education that were interviewed
After the law, there were 5744 female applications with "other" as furthest education
After the law, there were 53 female applications with "other" as furthest education that were interviewed

In [127]:
F_employement['no_of_employees'].value_counts()
# for a company with a given amount of employees, percent applied who are female before vs after
before_size_2 = before_df[before_df['no_of_employees'] == 2]
before_size_3 = before_df[before_df['no_of_employees'] == 3]
before_size_4 = before_df[before_df['no_of_employees'] == 4]
before_size_5 = before_df[before_df['no_of_employees'] == 5]

after_size_2 = after_df[after_df['no_of_employees'] == 2]
after_size_3 = after_df[after_df['no_of_employees'] == 3]
after_size_4 = after_df[after_df['no_of_employees'] == 4]
after_size_5 = after_df[after_df['no_of_employees'] == 5]

percent_female_size_2_before = 100*before_size_2[before_size_2['FemaleFlag'] == 1].shape[0]/before_size_2.shape[0]
percent_female_size_3_before = 100*before_size_3[before_size_3['FemaleFlag'] == 1].shape[0]/before_size_3.shape[0]
percent_female_size_4_before = 100*before_size_4[before_size_4['FemaleFlag'] == 1].shape[0]/before_size_4.shape[0]
percent_female_size_5_before = 100*before_size_5[before_size_5['FemaleFlag'] == 1].shape[0]/before_size_5.shape[0]

percent_female_size_2_after = 100*after_size_2[after_size_2['FemaleFlag'] == 1].shape[0]/after_size_2.shape[0]
percent_female_size_3_after = 100*after_size_3[after_size_3['FemaleFlag'] == 1].shape[0]/after_size_3.shape[0]
percent_female_size_4_after = 100*after_size_4[after_size_4['FemaleFlag'] == 1].shape[0]/after_size_4.shape[0]
percent_female_size_5_after = 100*after_size_5[after_size_5['FemaleFlag'] == 1].shape[0]/after_size_5.shape[0]

# Format a table to display the results
from tabulate import tabulate

# Create a list of lists with the data
table_data = [
    ["Company Size", "Before (%)", "After (%)"],
    ["51-200 employees", percent_female_size_2_before, percent_female_size_2_after],
    ["201-1000 employees", percent_female_size_3_before, percent_female_size_3_after],
    ["1001-10000 employees", percent_female_size_4_before, percent_female_size_4_after],
    ["10001+ employees", percent_female_size_5_before, percent_female_size_5_after],
]

# Print the table with a nice format
print('Percent of applicaations being from women by company size')
print(tabulate(table_data, headers="firstrow", tablefmt="fancy_grid"))

Percent of applicaations being from women by company size
â•’â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â••
â”‚ Company Size         â”‚   Before (%) â”‚   After (%) â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 51-200 employees     â”‚      37.331  â”‚     39.3994 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 201-1000 employees   â”‚      36.9128 â”‚     40.3201 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1001-10000 employees â”‚      38.0488 â”‚     40.8122 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10001+ employees     â”‚      37.1206 â”‚     42.2429 â”‚
â•˜â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•›

In [128]:
table_data = [
    ["Company Size", "Before", "After"],
    ["51-200 employees", str(before_size_2[before_size_2['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_2.shape[0]), str(after_size_2[after_size_2['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_2.shape[0])],
    ["201-1000 employees", str(before_size_3[before_size_3['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_3.shape[0]), str(after_size_3[after_size_3['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_3.shape[0])],
    ["1001-10000 employees", str(before_size_4[before_size_4['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_4.shape[0]), str(after_size_4[after_size_4['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_4.shape[0])],
    ["10001+ employees", str(before_size_5[before_size_5['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_5.shape[0]), str(after_size_5[after_size_5['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_5.shape[0])],
]

# Print the table with a nice format
print('Percent of candidates applying being women by company size')
print(tabulate(table_data, headers="firstrow", tablefmt="fancy_grid"))

Percent of candidates applying being women by company size
â•’â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â••
â”‚ Company Size         â”‚ Before       â”‚ After         â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 51-200 employees     â”‚ 97674/261643 â”‚ 131808/334543 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 201-1000 employees   â”‚ 40177/108843 â”‚ 82528/204682  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1001-10000 employees â”‚ 68502/180037 â”‚ 80358/196897  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10001+ employees     â”‚ 52823/142301 â”‚ 109176/258448 â”‚
â•˜â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•›

In [129]:
F_employement['no_of_employees'].value_counts()
# for a company with a given amount of employees, percent interviewed female before vs after
before_size_2 = before_df[before_df['no_of_employees'] == 2]
before_size_2 = before_size_2[before_size_2['CalLetterFlag'] == 1]
before_size_3 = before_df[before_df['no_of_employees'] == 3]
before_size_3 = before_size_3[before_size_3['CalLetterFlag'] == 1]
before_size_4 = before_df[before_df['no_of_employees'] == 4]
before_size_4 = before_size_4[before_size_4['CalLetterFlag'] == 1]
before_size_5 = before_df[before_df['no_of_employees'] == 5]
before_size_5 = before_size_5[before_size_5['CalLetterFlag'] == 1]

after_size_2 = after_df[after_df['no_of_employees'] == 2]
after_size_2 = after_size_2[after_size_2['CalLetterFlag'] == 1]
after_size_3 = after_df[after_df['no_of_employees'] == 3]
after_size_3 = after_size_3[after_size_3['CalLetterFlag'] == 1]
after_size_4 = after_df[after_df['no_of_employees'] == 4]
after_size_4 = after_size_4[after_size_4['CalLetterFlag'] == 1]
after_size_5 = after_df[after_df['no_of_employees'] == 5]
after_size_5 = after_size_5[after_size_5['CalLetterFlag'] == 1]

percent_female_size_2_before = 100*before_size_2[before_size_2['FemaleFlag'] == 1].shape[0]/before_size_2.shape[0]
percent_female_size_3_before = 100*before_size_3[before_size_3['FemaleFlag'] == 1].shape[0]/before_size_3.shape[0]
percent_female_size_4_before = 100*before_size_4[before_size_4['FemaleFlag'] == 1].shape[0]/before_size_4.shape[0]
percent_female_size_5_before = 100*before_size_5[before_size_5['FemaleFlag'] == 1].shape[0]/before_size_5.shape[0]

percent_female_size_2_after = 100*after_size_2[after_size_2['FemaleFlag'] == 1].shape[0]/after_size_2.shape[0]
percent_female_size_3_after = 100*after_size_3[after_size_3['FemaleFlag'] == 1].shape[0]/after_size_3.shape[0]
percent_female_size_4_after = 100*after_size_4[after_size_4['FemaleFlag'] == 1].shape[0]/after_size_4.shape[0]
percent_female_size_5_after = 100*after_size_5[after_size_5['FemaleFlag'] == 1].shape[0]/after_size_5.shape[0]

# Format a table to display the results
from tabulate import tabulate

# Create a list of lists with the data
table_data = [
    ["Company Size", "Before (%)", "After (%)"],
    ["51-200 employees", percent_female_size_2_before, percent_female_size_2_after],
    ["201-1000 employees", percent_female_size_3_before, percent_female_size_3_after],
    ["1001-10000 employees", percent_female_size_4_before, percent_female_size_4_after],
    ["10001+ employees", percent_female_size_5_before, percent_female_size_5_after],
]

# Print the table with a nice format
print('Percent of candidates interviewed being women by company size')
print(tabulate(table_data, headers="firstrow", tablefmt="fancy_grid"))

Percent of candidates interviewed being women by company size
â•’â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•â••
â”‚ Company Size         â”‚   Before (%) â”‚   After (%) â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 51-200 employees     â”‚      37.7641 â”‚     35.4806 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 201-1000 employees   â”‚      39.0476 â”‚     36.8441 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1001-10000 employees â”‚      39.2945 â”‚     37.3194 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10001+ employees     â”‚      32.6332 â”‚     40.5108 â”‚
â•˜â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•â•›

In [130]:
table_data = [
    ["Company Size", "Before", "After"],
    ["51-200 employees", str(before_size_2[before_size_2['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_2.shape[0]), str(after_size_2[after_size_2['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_2.shape[0])],
    ["201-1000 employees", str(before_size_3[before_size_3['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_3.shape[0]), str(after_size_3[after_size_3['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_3.shape[0])],
    ["1001-10000 employees", str(before_size_4[before_size_4['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_4.shape[0]), str(after_size_4[after_size_4['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_4.shape[0])],
    ["10001+ employees", str(before_size_5[before_size_5['FemaleFlag'] == 1].shape[0]) + '/' + str(before_size_5.shape[0]), str(after_size_5[after_size_5['FemaleFlag'] == 1].shape[0]) + '/' + str(after_size_5.shape[0])],
]

# Print the table with a nice format
print('Percent of candidates interviewed being women by company size')
print(tabulate(table_data, headers="firstrow", tablefmt="fancy_grid"))

Percent of candidates interviewed being women by company size
â•’â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â•¤â•â•â•â•â•â•â•â•â•â•â•â•â••
â”‚ Company Size         â”‚ Before     â”‚ After      â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 51-200 employees     â”‚ 4790/12684 â”‚ 3145/8864  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 201-1000 employees   â”‚ 1640/4200  â”‚ 2963/8042  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 1001-10000 employees â”‚ 6851/17435 â”‚ 4984/13355 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10001+ employees     â”‚ 2719/8332  â”‚ 5821/14369 â”‚
â•˜â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•§â•â•â•â•â•â•â•â•â•â•â•â•â•›